USE [PortfolioDB]
GO
/****** Object:  Table [dbo].[contactforms]    Script Date: 12/21/2025 5:16:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[contactforms](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[name] [varchar](191) NOT NULL,
	[email] [varchar](191) NOT NULL,
	[message] [varchar](191) NOT NULL,
 CONSTRAINT [PK_contactforms] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[contents]    Script Date: 12/21/2025 5:16:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[contents](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[contentText] [nvarchar](max) NOT NULL,
	[type] [varchar](191) NOT NULL,
 CONSTRAINT [PK_contents] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[experiences]    Script Date: 12/21/2025 5:16:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[experiences](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[companyName] [varchar](191) NOT NULL,
	[position] [varchar](191) NOT NULL,
	[responsibilities] [nvarchar](max) NOT NULL,
	[startDate] [date] NOT NULL,
	[endDate] [date] NOT NULL,
 CONSTRAINT [PK_experiences] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[projects]    Script Date: 12/21/2025 5:16:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[projects](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[title] [varchar](191) NOT NULL,
	[description] [nvarchar](max) NOT NULL,
	[technologies] [varchar](191) NOT NULL,
	[gitUrl] [varchar](191) NOT NULL,
	[liveUrl] [varchar](191) NOT NULL,
	[photo] [varchar](191) NULL,
	[sequence] [int] NOT NULL,
 CONSTRAINT [PK_projects] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[qualifications]    Script Date: 12/21/2025 5:16:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[qualifications](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[credential] [varchar](191) NOT NULL,
	[details] [varchar](191) NOT NULL,
	[yearCompleted] [int] NOT NULL,
 CONSTRAINT [PK_qualifications] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[skills]    Script Date: 12/21/2025 5:16:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[skills](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[type] [varchar](191) NOT NULL,
	[details] [varchar](191) NOT NULL,
	[sequence] [int] NOT NULL,
	[fontawesomeHTML] [varchar](191) NOT NULL,
 CONSTRAINT [PK_skills] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[socialmedias]    Script Date: 12/21/2025 5:16:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[socialmedias](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[logo] [varchar](191) NOT NULL,
	[url] [varchar](191) NOT NULL,
	[sequence] [int] NOT NULL,
 CONSTRAINT [PK_socialmedias] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[contents] ON 

INSERT [dbo].[contents] ([id], [contentText], [type]) VALUES (1, N'<p>Hello My name is Hitesh, Welcome to my portfolio!!!!!!!</p>', N'Contact')
INSERT [dbo].[contents] ([id], [contentText], [type]) VALUES (2, N'<p>I''m a sofware engineer specializing in developing web apps on .net framework. I''m focused on developing solutions that are sustainable, extensible and user friendly.</p>', N'Hero')
INSERT [dbo].[contents] ([id], [contentText], [type]) VALUES (3, N'<p>Hello! My name is Hitesh Patel. I have been developing web applications since 2015. I liked creating things on computer since I was kid.</p><p>After completing my studies I took a deeper dive into backend developint using .net framework.</p><p>Recently I completed Web Development Course at Humber to become a full stack developer.</p>', N'AboutMe')
SET IDENTITY_INSERT [dbo].[contents] OFF
GO
SET IDENTITY_INSERT [dbo].[experiences] ON 

SET IDENTITY_INSERT [dbo].[experiences] OFF
GO
SET IDENTITY_INSERT [dbo].[projects] ON 

INSERT [dbo].[projects] ([id], [title], [description], [technologies], [gitUrl], [liveUrl], [photo], [sequence]) VALUES (1, N'Hair Salon', N'<p>This Hair Salon website let user to view the services and book appointments. It has a built in CMS that allows admin to manage details of service, employees and appointments.</p>', N'.Net, Entity Framework, Bootstrap, SQL', N'https://github.com/Hitesh297/PassionProject-Hitesh_Patel', N'https://passionproject20220616162714.azurewebsites.net/', N'https://i.ibb.co/xfV59mj/hairsalon.jpg', 1)
INSERT [dbo].[projects] ([id], [title], [description], [technologies], [gitUrl], [liveUrl], [photo], [sequence]) VALUES (3, N'Tech Blog', N'<p>Tech Blog is a basic website for blogging, developed on PHP. The content management system at the backend enables the user to add or delete blog contents.</p>', N'PHP, MySQL, HTML, CSS', N'https://github.com/Hitesh297/TheTechBlog', N'http://hitesh-patel.infinityfreeapp.com/mycms/', N'https://i.ibb.co/DzQcNRm/techblog.jpg', 3)
SET IDENTITY_INSERT [dbo].[projects] OFF
GO
SET IDENTITY_INSERT [dbo].[qualifications] ON 

INSERT [dbo].[qualifications] ([id], [credential], [details], [yearCompleted]) VALUES (1, N'Graduate Certificate : Web Development', N'<p>Humber College Institute of Technology &amp; Advanced Learning, Toronto</p>', 2022)
INSERT [dbo].[qualifications] ([id], [credential], [details], [yearCompleted]) VALUES (2, N'Bachelor of Engineering : Information Science', N'<p>N.M.A.M Institute of Technology, IN</p>', 2015)
SET IDENTITY_INSERT [dbo].[qualifications] OFF
GO
SET IDENTITY_INSERT [dbo].[skills] ON 

INSERT [dbo].[skills] ([id], [type], [details], [sequence], [fontawesomeHTML]) VALUES (1, N'Frameworks', N'<p>.Net, .Net Core, React, Node, Laravel</p>', 1, N'<i class="fa-solid fa-circle-nodes"></i>')
INSERT [dbo].[skills] ([id], [type], [details], [sequence], [fontawesomeHTML]) VALUES (2, N'Javascript', N'<p>React, Express, jQuery</p>', 2, N'<i class="fa-brands fa-js-square"></i>')
INSERT [dbo].[skills] ([id], [type], [details], [sequence], [fontawesomeHTML]) VALUES (3, N'Languages', N'<p>C#, PHP, TypeScript</p>', 3, N'<i class="fa-solid fa-code"></i>')
SET IDENTITY_INSERT [dbo].[skills] OFF
GO
SET IDENTITY_INSERT [dbo].[socialmedias] ON 

INSERT [dbo].[socialmedias] ([id], [logo], [url], [sequence]) VALUES (1, N'<i class="fa-brands fa-500px social"></i>', N'https://500px.com/p/hites297', 1)
INSERT [dbo].[socialmedias] ([id], [logo], [url], [sequence]) VALUES (2, N'<i class="fa-brands fa-linkedin social"></i>', N'https://www.linkedin.com/in/hitesh-patel-dev/', 2)
INSERT [dbo].[socialmedias] ([id], [logo], [url], [sequence]) VALUES (3, N'<i class="fa-brands fa-instagram social"></i>', N'https://www.instagram.com/patelhitt/', 3)
SET IDENTITY_INSERT [dbo].[socialmedias] OFF
GO


Server=tcp:portfoliodb-sql-server.database.windows.net,1433;Initial Catalog=TechBlogDb;Persist Security Info=False;User ID=PortfolioDbUser;Password={your_password};MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;